@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");

// http://www.brandgradients.com/gold-gradient/
$gold1: #bf953f;
$gold2: #b38728;
$gold3: #aa771c;
$light1: #fcf6ba;
$light2: #fbf5b7;
$pink: #ffba9b;
$black: #000;
$white: whitesmoke;

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  height: 50px;
  justify-content: flex-end;
  padding-right: 35px;
  width: 100%;
}

.nav-bar {
  display: flex;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  justify-content: space-between;
  list-style-type: none;
  text-transform: uppercase;
}

.li-nav {
  margin: 15px 5px;
}

// template
// https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_col-s

.row::after {
  clear: both;
  content: "";
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

body {
  color: $gold1;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 24px;
  overflow-x: hidden;
}

.h1Header {
  margin-top: 250px;
  text-shadow: 2px 2px 4px $black;
}

a:link {
  color: $black;
  text-decoration: none;
}
a:hover {
  color: $black;
}
a:visited {
  color: $black;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.fa-youtube {
  background: transparent;
  color: $black;
  margin-right: 10px;
}

.fa-instagram {
  background: transparent;
  color: $black;
  margin-right: 10px;
}

.fa-facebook-f {
  background: transparent;
  color: $black;
  margin-right: 10px;
}

.header {
  background: url("./images/tattoo.jpg") no-repeat fixed center;
  background-size: 100%;
  font-family: "Lobster Two", cursive;
  font-size: 30px;
  padding-bottom: 350px;
  padding-top: 50px;
  text-align: center;
  text-shadow: 5px 2px 4px $white;
}

.em {
  text-shadow: 5px 5px 5px $black;
}

.headerNav {
  background: linear-gradient(
    to right,
    $gold1,
    $light1,
    $gold2,
    $light2,
    $gold3
  );
}

.kariImage {
  border: solid black;
  border-radius: 200px;
  margin-bottom: 40px;
  margin-top: 40px;
}

img {
  width: 100%;
}

#kari-image {
  width: 500px;
}

#kari-bio {
  background: $pink;
  border: 1px solid;
  box-shadow: 5px 10px;
  color: $black;
  margin-bottom: auto;
  margin-top: auto;
  padding: 10px;
}

.social-media {
  background-color: $pink;
}

.social-media-icons {
  font-size: 40px;
  margin-bottom: 0;
  padding-bottom: 35px;
  text-align: center;
}

.mainBody {
  background-color: $gold1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}

.kari-about-paragraph {
  font-size: 15px;
  text-align: center;
}

.follow-her-h1 {
  background-color: $pink;
  font-size: 40px;
  margin-top: 70px;
  padding: 25px;
  text-align: center;
}

.homeH1 {
  font-family: "Lobster Two", cursive;
  font-size: 40px;
  text-align: center;
}

.asideFont {
  font-family: "Lobster Two", cursive;
}

.footer {
  background: $gold1;
  color: $light2;
  font-size: 12px;
  padding: 15px;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .col-3 {
    width: 40%;
  }
}

@media only screen and(min-width: 320px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
