$gold1: #BF953F;
$gold2: #B38728;
$gold3: #AA771C;
$light1: #FCF6BA;
$light2: #FBF5B7;
$pink: #FFBA9B;
$black: #000;
$white: whitesmoke;

/* Kari's logo */
.menu-header {
  background: url("../../../images/monroeBeauty.jpg") center fixed no-repeat;
  background-color: white;
  font-family: 'Lobster Two', cursive;
  font-size: 30px;
  padding-bottom: 500px;
  text-align: center;
  text-shadow: 2px 2px 4px $white;
}

#menuBoxx {
  background-color: black;
  padding-top: 1px;
}

.service-menu-header {
  color: $black;
  font-family: 'Lobster Two', cursive;
  font-size: 60px;
  text-align: center;
  text-shadow: 2px 2px 4px $white;
}

.menu-h1Header {
  margin-top: 255px;
  text-shadow: 2px 2px 4px $black;
}

.menu-aside {
  background-color: $black;
  color: $pink;
  font-size: 20px;
  padding: 15px;
  text-align: center;
  text-shadow: none;
}

.menuBox {
  align-items: center;
}

/* https://codepen.io/equinusocio/pen/OqpBKJ */

/* List */
.ulMenu {
  counter-reset: index;
  // max-width: 300px;
  // padding: 0;
}

/* List element */
li {
  align-items: center;
  box-sizing: border-box;
  counter-increment: index;
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  padding-right: 90px;
}


/* Element counter */
li::before {
  -webkit-background-clip: text;
  align-self: flex-start;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, aquamarine, orangered);
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  font-variant-numeric: tabular-nums;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  text-align: right;
  -webkit-text-fill-color: transparent;
}


/* Element separation */
li + li {
  border-top: 1px solid rgba(255,255,255,0.2);
}


// .ulMenu {
//   list-style-type: none;
// }


#service-menu {
  background: linear-gradient(to right, $gold1, $light1, $gold2, $light2, $gold3);;
  color: $pink !important;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding-bottom: 50px;
  padding-top: 1px;
  text-shadow: none !important;
}


.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-shadow: none;
}

.menu li {
  text-align: left;
  text-shadow: none;
}

